doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(href="/stylesheet/style.css" rel="stylesheet" type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet")
    title Document
  body
    div.line
    img(src="/images/logo.png")
    h1 AUTOMATIZACION EN SITIOS WEB
    p Taller Cómo generar la automatización de sitios web
    div.line.bot
